
.header-area a {
  text-decoration: none;
  color: #4c4c4c;
}

.form-area {
  display: flex;  
}
.form-item--left img{
  width: 100%;
  height:calc(100vh - 80px - 25px)
}

.form-item--right {
  width: 50%;
  margin-left: 100px;  
}
.form-item--right form{
  display:flex;
  flex-direction: column;
  max-width: 320px;
  margin: auto;
}
.form-item--right--title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;  
}
.form-item--right input {
  margin-top: 20px;
}
.areainput input {
  width:140px;
}

.form-item--right h4 {
  margin-top: 10px;
}
.form-item--right a  {
  text-decoration: none;
}
.form-item--right h4:hover {
  width:fit-content;
  color: #478CBE;
}
.btn-form {
  margin: 20px 0 20px 0;
  width: 100% !important;
}
.form-item--right h5 {
  text-align: center;
}
.form-item--right a {
  color:#478CBE;
}

@media (max-width:840px) {
  .form-item--left {
    display:none;
  }
  .form-area {
    margin: auto;
  }
  .form-item--right {
    border: 1px solid #dcdcdc;
    padding: 15px;
    width:100%;
    margin: auto;
    margin: 15px 0 15px 0;
  }
}
@media (max-width:734px) {
  .header-title2 a {
    font-size: 1rem;
  }
}
@media (max-width:387px) {
  .areainput input{
    width: 110px;
  }
}
