/*CSS DE ARÉAS ESPECIFICAS*/
  /*Container*/
    .container {
      display: flex;
      max-width: 85%;
      margin: auto;
    }
  /*cores_fontes*/
    .font-color{
      color: #4c4c4c;
    }
    .font-color--primary {
      color:  #478CBE;
    }
    .font-color2 {
      color: #929292;
    }
  /*Cores_bg*/
    .bg-primary {
      background-color:  #478CBE;
    }
    .bg-secondary {
      background-color: #99A6B0;
    }
  /*Padrão comum para todos os campos de texto*/
    .txt-font--montserrat {
      font-family: 'Montserrat', sans-serif;
    }
    .txt-font--open-sans {
      font-family: 'Open Sans', sans-serif;
    } 
    .txt-uppercase {
      text-transform: uppercase;
    }
    .txt-weight--700{
      font-weight: 700;
    }
    .txt-weight--600{
      font-weight: 600;
    }
    .txt-Open-sans-weight--400 {
      font-weight:400;
    }
    .txt-Open-sans-weight--300 {
      font-weight:300;
    }
  /*Tamanho pequeno*/
    .txt-sm {
      font-size:0.8rem;
    }  
  /*Tamanho médio*/
    .txt-md {
      font-size: 1rem;
    }
  /*Tamanho grande*/
    .txt-lg {
      font-size: 1.5rem;
    }
  /*Flex*/
    .flex {
      display:flex;
    }
    .flex-clmn {
      flex-direction: column;
    }
    .jst-center {
      justify-content:center;
    }
    .jst-between {
      justify-content:space-between
    }
    .jst-around {
      justify-content:space-around;
    }
    .alg-center {
      align-items: center;
    }
    .brd {
      border: 1px solid #dcdcdc;
    }
    .brd-btm {
      border-bottom: 2px solid #dcdcdc;
    }
  /*Titulo geral das sessões das paginas*/
    .titleGeral {
      color:#3581B8;
      margin:auto;
      margin-top: 90px;
    }  
  /*Botão*/
    .btn {
      padding: 0px;
      border-radius: 5px;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 10px;
      width: fit-content;
      text-transform: uppercase;
    }
    .btn:hover {
      background-color: #2F79AD;
    }
  /*input*/
    ::placeholder{
      font-size: 15px;
      color: #4c4c4c;
    }
    .input {
      height:30px;
      border-radius: 5px;
      border: none;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  /*Carrinho de compra*/
    .buy-car {
      position:fixed;
      bottom: 10px;
      right: 20px;
      cursor: pointer;
    }
    .buy-car img {
      width:50px;
      height:50px;
    }
/**/

.bg-image{
  background: #91beb9 url("/publics/images/banner-bg.jpg") center/cover;
  height: 100vh;
}
.header-area{
  width:100%;
  margin-top: 10px;
}
.header-logo img{
  width:80px;
}
.header-title a {
  color: #fff;
  text-decoration: none;
}

.bg-opacity {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height:200px;
  background-color: rgba(0, 0, 0, 0.5);
}

.category-products {
  border-radius: 10px;
  width:80%;
  padding: 20px;
  margin-top: 90px;
}
.category-products--sections li {
  display: inline-block;
  padding:5px;
  color: #fff;
}
.category-products--sections li:hover {
  border-bottom: 3px solid #3581B8;
}
.search-products {
  width: 200px;
}
.search-products::placeholder {
  font-size: 0.8rem;
}

.show-offer--area {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  margin:auto;
}
.show-offer--item {
  padding: 10px;
  margin:50px 0px 0px 10px;
}
.show-offer--img {
  text-align: center;
}
.show-offer--img img {
  width: 150px;
  height:150px;
}
.show-offer--title {
  margin:20px 0px 3px 0px;
}
.show-offer--rate img {
  width:20px;
}
.show-offer--area-priece_add {
  margin-top: 10px;
}
.show-offer--add {
  margin-top: 30px;
  padding: 5px;
}
.show-offer--add:hover {
  background-color: #2F79AD;
}
.show-offer--add img {
  width: 20%;
}
.show-offer--add a {
  text-decoration: none;
  color: #fff;
}

.banner-mkt {
  background: #91beb9 url("/publics/images/AdobeStock_163503571_Preview-removebg-preview\ \(1\).png") center/cover;
  margin-top: 90px;
  height: auto;
}
.banner-mkt {
  padding: 100px;
}
.banner-title {
  color: #fff;
  width: 50%;
}
.btn-banner {
  margin-top:10px
}

.container.servicos{
  flex-direction: column;
  align-items: center;
}


.servicos-itens--flex{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.servicos-item {
  margin-bottom:10px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.servicos-item:nth-child(1) {
  margin-left: 0px;
}
.servicos-item--title {
  color: #fff;
  text-align: center;
  margin: 5px 0px 10px 0px;
}
.servicos-item--img {
  text-align: center;
  margin-bottom: 10px;
}
.servicos-item--img img{
  border-radius: 50%;
}
.servicos-item--img img{
  width: 80px;
}
.servicos-item--desc h5{
  color: #fff;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.servicos-item--desc ul {
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 20px;
}

.servicos-item--agendar h5{
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  font-size: 0.8rem;
}
.servicos-item--agendar a{
  display:flex;
  justify-content:center;
}
.servicos-item--agendar .btn-agendar{
  display: inline-block;
  background-color: #95B59F;
  width:60%;
}
.servicos-item--agendar .btn-agendar:hover {
  background-color: #7B9684;
}
.btn-agendar img {
  width: 20px;
}

footer {
  background-color: #99A6B0;
  height: auto;
  margin-top: 90px;
  padding: 20px;
}
footer h3 {
  margin-top: 10px;
}
footer p {
  margin-top: 3px;
}
.footer-area {
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.footer-area p {
  color: rgb(68, 68, 68);
}
.footer-item--center h3{
  width:fit-content;
  text-align: center;
  margin-bottom: 10px;
}
.footer-item--center--midiaArea{
  display:flex;
}
.footer-item--midia a {
  text-decoration-line: none;
}
.footer-item--midia img {
  width: 20px;
  margin-left: 10px;
}
.footer-item--midia p {
  text-align: center;
  color: #000;
  font-size: 0.8rem;
  margin-left: 5px;
}
.footer-item--right{
  display: flex;
  align-items: center;
}
.footer-item--right img {
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

@media (max-width:800px) {
  .header-logo img {
    width:50px;
  }
  .header-title a {
    font-size: 1rem;
  }
  .category-products {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
  }  
  .search-products {
    margin-top: 15px;
  }
  .show-offer--area {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:497px) {
  .btn-header {
    padding: 5px;
  }
  .category-products {
    padding: 5px;
  }
  .category-products--sections li {
    padding: 0;
    font-size: 0.8rem;
  } 
  .show-offer--area {
    grid-template-columns: 1fr;
  }
}