/*CSS DE ARÉAS ESPECIFICAS*/
  /*Container*/
    .container {
      display: flex;
      max-width: 85%;
      margin: auto;
    }
  /**/

  /*Padrão comum para todos os campos de texto*/
    .txt-font--montserrat {
      font-family: 'Montserrat', sans-serif;
    }
    .txt-font--open-sans {
      font-family: 'Open Sans', sans-serif;
    } 
    .txt-uppercase {
      text-transform: uppercase;
    }
    .txt-weight--700{
      font-weight: 700;
    }
    .txt-weight--600{
      font-weight: 600;
    }
    .txt-Open-sans-weight--400 {
      font-weight:400;
    }
    .txt-Open-sans-weight--300 {
      font-weight:300;
    }
    /*Tamanho pequeno*/
      .txt-sm {
        font-size:0.8rem;
      }  
    /*Tamanho médio*/
      .txt-md {
        font-size: 1rem;
      }
    /*Tamanho grande*/
      .txt-lg {
        font-size: 1.5rem;
      }
  /**/

  /*Titulo geral das sessões das paginas*/
  .titleGeral {
    color:#3581B8;
    margin:auto;
    margin-top: 90px;
  }  
  /**/

  /*Botão*/
    .btn {
      height: 50px;
      border-radius: 5px;
      color: #fff;
      border: none;
      cursor: pointer;
      width:150px;
      text-transform: uppercase;
    }
    .btn:hover {
      background-color: #2F79AD;
    }
  /**/

  /*input*/
    ::placeholder{
      font-size: 15px;
    }
  /**/

  /*Cores*/
    .bg-primary {
      background-color:  #478CBE;
    }
    .bg-secondary {
      background-color: #99A6B0;
    }
  /**/
  
  /*Carrinho de compra*/
    .buy-car {
      position:fixed;
      bottom: 10px;
      right: 20px;
      cursor: pointer;
    }
    .buy-car img {
      width:50px;
      height:50px;
    }
  /**/
/**/

.bg-image{
  background: #91beb9 url("/publics/images/banner-bg.jpg") center/cover;
  height: 100vh;
}
.header-area{
  display:flex;
  width:100%;
}
.header-area ,
.header-logo {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.header-logo img{
  width:80px;
}
.header-title a {
  color: #fff;
  text-decoration: none;
}

.bg-opacity {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height:200px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container.category {
  margin-top: 90px;
  justify-content:center;
}
.category-products {
  display:flex;
  align-items: center;
  border-radius: 10px;
  width:85%
}
.category-products--sections li {
  display: inline-block;
  padding: 20px 25px;
  color: #fff;
  margin-left: 10px;
}
.category-products--sections li:hover {
  border-bottom: 4px solid #3581B8;
}

.category-products input {
  color:#99A6B0;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 250px;
  margin-left: 100px;
  outline: 0;
}

.show-offer--area {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.show-offer--item {
  padding: 20px;
  margin:50px 0px 0px 5px;
  border: 1px solid rgba(211, 211, 211, 0.4);
}
.show-offer--img {
  text-align: center;
  margin-top: 10px;
}
.show-offer--img img {
  width: 150px;
  height:150px;
}
.show-offer--title {
  margin:20px 0px 2px 0px;
}
.show-offer--subtitle,
.show-offer--rate {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}
.show-offer--rate img {
  width:20px
}
.show-offer--price,
.show-offer--add {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.show-offer--area-priece_add {
  display:flex;
}
.show-offer--price{
  color: #3581B8;
  margin-right:10px;
}
.show-offer--add {
  height: 50px;
  padding: 0 10px;
  margin: 20px -15px -15px 0px;
  cursor: pointer;
}
.show-offer--add:hover {
  background-color: #2F79AD;
}
.show-offer--add img {
  width: 25px;
  margin-right: 10px;
}
.show-offer--add a {
  text-decoration: none;
  color: #fff;
}

.banner-mkt {
  background: #91beb9 url("/publics/images/front-view-of-beautiful-dog-with-copy-space-removebg-preview.png") center/cover;
  margin-top: 100px;
  height: auto;
}
.container.banner {
  display:flex;
  flex-direction: column;
  padding: 100px;
}
.banner-title {
  color: #fff;
  width: 50%;
}
.btn-banner {
  margin-top:10px
}

.container.servicos{
  flex-direction: column;
  align-items: center;
}

.servicos-itens--flex{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.servicos-item {
  margin-bottom:10px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
}
.servicos-item:nth-child(1) {
  margin-left: 0px;
}
.servicos-item--title {
  color: #fff;
  text-align: center;
  margin: 5px 0px 10px 0px;
}
.servicos-item--img {
  text-align: center;
  margin-bottom: 10px;
  
}
.servicos-item--img img{
  width: 80px;
}
.servicos-item--desc h5{
  color: #fff;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.servicos-item--desc ul {
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 20px;
}

.servicos-item--agendar h5{
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  font-size: 0.8rem;
}
.servicos-item--agendar a{
  display:flex;
  justify-content:center;
}
.servicos-item--agendar .btn-agendar{
  background-color: #95B59F;
  width:90%;
}
.servicos-item--agendar .btn-agendar:hover {
  background-color: #7B9684;
}

footer {
  background-color: #99A6B0;
  height: auto;
  margin-top: 90px;
  padding: 20px;
}
footer h3 {
  margin-top: 10px;
}
footer p {
  margin-top: 3px;
}
.footer-area {
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.footer-area p {
  color: rgb(68, 68, 68);
}
.footer-item--center h3{
  width:fit-content;
  text-align: center;
  margin-bottom: 10px;
}
.footer-item--center--midiaArea{
  display:flex;
}
.footer-item--midia a {
  text-decoration-line: none;
}
.footer-item--midia img {
  width: 20px;
  margin-left: 10px;
}
.footer-item--midia p {
  text-align: center;
  color: #000;
  font-size: 0.8rem;
}
.footer-item--right{
  display: flex;
  align-items: center;
}
.footer-item--right img {
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}