.buy-confirm--title {
  margin-top: 20px;
}
.flex-clmn {
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100%;
}

.buy-confirm {
  width: 50%;
  padding: 5px;
  margin-top: 10px;
}
.input--item1 {
  width: 100%;
  margin-top: 20px;
}
.input--item2 {
  width: 25%;
  margin-left: 20px;
  margin-top: 20px;
}
.input--item3,
.input--item4  {
  width: 50%;
  margin-top: 20px;
}
.input--item4 {
  margin-left: 20px;
}
.input--item5{
  margin-top: 20px;
  width: 99%;
}

.selection-payment--type {
  margin-top: 10px;
  padding: 3px;
  background-color:#95B59F;
}
.selection-payment--type ul {
  display: flex;
  justify-content:space-around;
}
.selection-payment--type a {
  text-decoration: none;
  color: #fff;
}
.selection-payment--type a:hover {
  border-bottom: 3px solid #3581B8;
}

.payment-item--100 input {
  width: 100%;
}
.payment-item--left input,
.payment-item--right input {
  width: 100%;
}
.payment-item--right input {
  margin-left: 20px;
}

.btn-confirm--buy {
  margin-top:20px;
  float: right;
}